.login-form {
    padding-top:10px;
}
.login-form__button{
    width: 100%;
    margin-top: 20px;
    background-color: #B82601;
    border: none;
    border-radius: 50px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    font-family: "Gill Sans";
    transition-duration: 0.4s;
}
.login-form__input{
    font-family: "Gill Sans";
}

.login-form__input{
    font-family: "Gill Sans";
}

.registration-form {
    padding-top: 20px;
}
.registration-form__button_red{
    color: red;
}