.login-form {
    padding-top:10px;
}
.registration-form {
    padding-top: 20px;
}
.registration-form__button_red{
    color: red;
}
.ScoreBoard#board{
    position: absolute;
    z-index: 3;
    right: 20px;
    top: 20px;
    background: #ffffff;
    color: #000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 15%;
    padding: 10px 0 10px 0;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.ScoreBoard #title{
    font-size: 34px;
    margin-bottom: 5px;
}

.ScoreBoard #separator{
    text-align: center;
    width: 70%;
    margin-left: 15%;
    border-bottom: 2px solid black;
    margin-bottom: 15px;
}

.ScoreBoard > #line > div{
    float: left;
    width: 33%;
    margin-bottom: 7px;
    font-size: 20px;
}

.MenuBoard#board{
    position: absolute;
    z-index: 3;
    top: 20px;
    left: 20px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.MenuBoard > div{
    width: 70px;
    padding: 10px;
    color: #222;
}

.MenuBoard > div:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.ZoomBoard#board{
    position: absolute;
    z-index: 3;
    bottom: 150px;
    right: 20px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    width: 45px;
    text-align: center;
}

.ZoomBoard > div{
    width: 100%;
    height: 50px;
    padding: 5px 0 5px 0;
    color: #222;
}

.ZoomBoard > div:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}