- var developers = names

h1(class='cover-heading') About

p(class='lead') Acyclic is a very interesting game, but we still have to do a lot of work to make it work.Now you can see only this sample text and some other pages in this promo site.

div(classs='authors')
    ul
        each item in developers
            li= item

div(style="margin-top: 10px;")
    h3 back