<html lang="en">
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>ACyclyc</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/cover.css" rel="stylesheet">
</head>

<body>


<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">
            <div class="inner cover">

                <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand" id="AcyclicReference">ACyclyc</h3>
                    <ul class="nav masthead-nav">
                        <li id="Registered">Player_nick</li>
                        <li id="aboutReference">About</li>
                    </ul>
                </div>
            </div>

                <div id="menuPage">

                    <div class="col-md-3"></div>

                    <div id="menu"></div>

                    <div class="col-md-3"></div>

                </div>

                <div id="login" class="inner cover">
                </div>

                <div id="leaderboard">

                <div class="inner cover">
                    <h1 class="cover-heading">Leaderboard</h1>
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <table  class="table table-bordered table-condensed">
                            <thead>
                            <tr>
                                <th>Nickname</th>
                                <th>Score</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Serega</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td>Masha</td>
                                <td>99</td>
                            </tr>
                            <tr>
                                <td>Loshara3000</td>
                                <td>56</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-3"></div>
                </div>

                <div class="mastfoot">
                    <div class="inner">
                        <p>Acyclyc, 2017. All rights reserved</p>
                    </div>
                </div>
        </div>

                <div id="about">

                <div class="inner cover">
                    <h1 class="cover-heading">About</h1>
                    <p class="lead">
                        Acyclic is a very interesting game, but we still have to do a lot of work to make it work.
                        Now you can see only this sample text and some other pages in this promo site.
                    </p>
                    <div style="margin-top: 10px;">
                        <h3 id="ToMain">Back</h3>
                    </div>
                </div>

                <div class="mastfoot">
                    <div class="inner">
                        <p>Acyclyc, 2017. All rights reserved</p>
                    </div>
                </div>
        </div>

                <div id="game">
                    <h1>this is very nice canvas here!</h1>
                </div>

                <div id="registrationPage">

                    <div class="col-md-3"></div>

                        <div id="registration" class="inner cover">

                </div>

                    <div class="col-md-3"></div>

            </div>

                <div class="mastfoot">
                <div class="inner">
                    <p>Acyclyc, 2017. All rights reserved</p>
                </div>
            </div>

            </div>

        </div>

    </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>

<!-- Blocks' Scripts -->
<script src="../static/blocks/button/button.js"></script>
<script src="../static/blocks/form/form.js"></script>
<script src="../static/blocks/login/login.js"></script>
<script src="../static/blocks/register/Registration.js"></script>
<script src="../static/blocks/menu/MenuForm.js"></script>

<!-- Spa script -->
<!-- <script src="../static/js/main.js"></script> -->

<script src="../static/js/test.js"></script>
</body>
</html>

