div
    form(class="form-horizontal col-md-10")
        .js-controls
            button#playPressed(class="menuPage__myButton", type="click", href="/game")
                span Play
            button#leaderboardPressed(class="menuPage__myButton menuPage__myButton_red", type="click", href="/leaderboard")
                span Leaderboard
            button#logoutPressed(class="menuPage__myButton menuPage__myButton_yellow", type="click", href="/login")
                span Logout